<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">

              <div class="user_card">
                <div class="d-flex justify-content-center">
                  <div class="brand_logo_container">
                    <img src="../../../assets/img/logo/LogoSYF.png"  class="brand_logo" alt="Logo">
                    <span class="login-title">Smart Tooling Platform</span>
                  </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                  <ngx-spinner bdOpacity=0.2 bdColor="rgba(51,51,51,0.8)" size="medium" color="#20A8D8" type="pacman">
                  </ngx-spinner>
                  <form (ngSubmit)="login()" #form="ngForm">
                    <div class="input-group mb-3">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="text" [(ngModel)]="user.account"
                      name="username" autocomplete="username" required class="form-control input_user"  placeholder="username">
                    </div>
                    <div class="input-group mb-2">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" [(ngModel)]="user.password"
                      name="password" autocomplete="current-password" required class="form-control input_pass"  placeholder="password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                        <label class="custom-control-label" for="customControlInline">Remember me</label>
                      </div>
                    </div>
                      <div class="d-flex justify-content-center mt-3 login_container">
                   <button type="submit" name="button" class="btn login_btn" [disabled]="!form.valid">Login</button>
                   </div>
                  </form>
                </div>

                <div class="mt-4">
                  <div class="d-flex justify-content-center links">
                    Don't have an account? <a href="#" class="ml-2">Sign Up</a>
                  </div>
                  <div class="d-flex justify-content-center links">
                    <a href="#">Forgot your password?</a>
                  </div>
                </div>
              </div>

        </div>
      </div>
    </div>
  </main>
</div>


