.button-width {
    width: 120px;
}

.table-summary  {
    margin: 0px;
    .table-efficiency .vertical {
        text-align: center;
    } 
}


.list-model-name {
    text-align: center;
    border-bottom: 1px solid #20a8d8;
    padding-bottom: 5px;
}

.item-model-name {
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #20a8d8;
}


