<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <!--/.col-->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-12">
              <i class="fa fa-align-justify"></i>  List Model Operation
            </div>
          </div>
          <div class="row mt-3">
            <label class="col-md-1 col-form-label" for="model"><span class="float-right">Model</span></label>
              <div class="col-md-2">
                <ng-select2 
                  [data]="modelList" width="100%" [(ngModel)]="paramSearch.model_search"  (ngModelChange)="changeModelNo($event)"
                  name="model" id="model" required>
                </ng-select2>
              </div>
              <label class="col-md-1 col-form-label" for="stage"> <span class="float-right">Model Name</span></label>
              <div class="col-md-2">
                <input type="text" [(ngModel)]="modelName" class="form-control" disabled >
              </div>
              <label class="col-md-1 col-form-label" for="stage"> <span class="float-right">Stage</span></label>
              <div class="col-md-2">
                <ng-select2 [data]="stageList" width="100%" [(ngModel)]="paramSearch.stage" name="stage" id="stage">
                </ng-select2>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-sm  btn-secondary float-left mr-2  " (click)="search()"><i class="fa fa-search"></i>
                  Search</button>
                  <button type="button" class="btn btn-sm  btn-danger float-left " (click)="clear()"><i class="fa fa-ban"></i>
                    Clear</button>
              </div>
          </div>
        </div>
        <div class="card-body">
          <div class="add-new">
              <button type="button" [disabled]="paramSearch.model_search == null" class="btn btn-primary float-left mb-2" (click)="addModelOperation()"><i class="fa fa-plus"></i>
                Add new</button>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead style="background-color: #20a8d8; color: #fff;">
                <tr>
                  <th></th>
                  <th>Model No</th>
                  <th>Stage</th>
                  <th>Process Type</th>
                  <th colspan="2">Operation Name</th>
                  <th>Critical Quality</th>
                  <th>Critical Efficiency</th>
                  <th>Sequence</th>
                </tr>
              </thead>
              <tbody *ngIf="noData">
                <tr>
                  <td colspan="9">
                    <alert _ngcontent-pfs-c9="" class="text-center" type="danger"><!----><div role="alert" class="alert alert-danger ng-star-inserted"><!----><strong _ngcontent-pfs-c9="">No Data matching!</strong></div></alert>
                  </td>
                </tr>
              </tbody>
              <tbody *ngFor="let item of modelOperations; let i = index">
                <tr >
                  <td rowspan="3" class="vertical" style="width: 10%" >
                    <button type="button" class="btn btn-sm btn-primary " 
                    (click)="updateModelOperation(item)" ><i
                      class="fa fa-edit fa-lg"></i></button>
                    <button type="button" class="btn btn-sm btn-danger" (click)="deleteOperation(item)" ><i
                      class="fa fa-trash fa-lg"></i></button>
                  </td>
                  <td rowspan="3" class="vertical">{{item.model_no}}</td>
                  <td rowspan="3" class="vertical">{{item.stage_id}}</td>
                  <td rowspan="3" class="vertical">{{item.process_type_name}}</td>
                  <td>Local</td>
                  <td>{{item.operation_name_local}}</td>
                  <td rowspan="3" class="vertical">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox"
                      [(ngModel)]="item.critical_quality"
                      name="is_active" id="is_active"
                      class="custom-control-input"
                      [checked]="item.critical_efficiency" >
                      <label class="custom-control-label"></label>
                    </div>
                  </td>
                  <td rowspan="3" class="vertical">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox"
                      [(ngModel)]="item.critical_efficiency"
                      name="is_active" id="is_active"
                      class="custom-control-input"
                      [checked]="item.critical_efficiency" >
                      <label class="custom-control-label"></label>
                    </div>
                  </td>
                  <td rowspan="3" class="vertical">{{item.sequence}}</td>
                </tr>
                <tr>
                  <td>En</td>
                  <td>{{item.operation_name_en}}</td>
                </tr>
                <tr>
                  <td>Zh</td>
                  <td>{{item.operation_name_zh}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex" *ngIf="pagination.totalPages >= 1 && noData == false">
              <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
              [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
              nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]=5>
              </pagination>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>