<app-header
  class="bg-secondary"
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{
    src: 'assets/img/logo/LogoSYF.png',
    width: 60,
    height: 40,
    alt: 'Logo'
  }"
  WH
  [navbarBrandMinimized]="{
    src: 'assets/img/logo/LogoSYF.png',
    width: 50,
    height: 40,
    alt: 'Logo'
  }"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="''"
>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown mr-30" dropdown placement="bottom right">
      <a
        class="nav-link"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
        dropdownToggle
        (click)="(false)"
      >
        <span style="color: #fff">{{ currentUser.name }}</span>
        <img
          src="../../../assets/img/avatars/user.png"
          class="img-avatar"
          alt="{{ currentUser.email }}"
        />
      </a>
      <div
        class="dropdown-menu dropdown-menu-right"
        *dropdownMenu
        aria-labelledby="simple-dropdown"
      >
        <a
          class="dropdown-item"
          href="javascript:;"
          (click)="modalChangePassword.show()"
          ><i class="fa fa-key"></i> Change Password</a
        >
        <a class="dropdown-item" href="javascript:;" (click)="logout()"
          ><i class="fa fa-sign-out"></i> Logout</a
        >
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar
    #appSidebar
    [fixed]="true"
    [display]="'lg'"
    [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)"
  >
    <app-sidebar-nav
      class="bg-secondary"
      [navItems]="navItems"
      [perfectScrollbar]
      [disabled]="appSidebar.minimized"
    ></app-sidebar-nav>
    <app-sidebar-minimizer class="bg-primary"></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <cui-breadcrumb> </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="false" [ngClass]="'test'">
    <tabset>
      <tab>
        <ng-template tabHeading><i class="icon-list"></i></ng-template>
      </tab>
      <tab>
        <ng-template tabHeading><i class="icon-speech"></i></ng-template>
      </tab>
      <tab>
        <ng-template tabHeading><i class="icon-settings"></i></ng-template>
      </tab>
    </tabset>
  </app-aside>
</div>
<app-footer>
  <span
    >Copyright &copy; 2020
    <a href="javascript:;">SHYANG SHIN BAO INDUSTRIAL CO., LTD.</a> All rights
    reserved</span
  >
  <span class="ml-auto">Powered by <a href="javascript:;">SD3</a></span>
</app-footer>

<div
  bsModal
  #modalChangePassword="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Change Password</h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="modalChangePassword.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row mb-2 mt-2">
        <label class="col-md-4 col-form-label" for="password">
          <strong class="float-right">Current Password</strong>
        </label>
        <div class="col-md-7">
          <input
            type="password"
            name="password"
            class="form-control"
            [(ngModel)]="oldPassword"
          />
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-md-4 col-form-label" for="password">
          <strong class="float-right">New Password</strong>
        </label>
        <div class="col-md-7">
          <input
            type="password"
            name="password"
            class="form-control"
            [(ngModel)]="newPassword"
          />
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-md-4 col-form-label" for="password">
          <strong class="float-right">Confirm Password</strong>
        </label>
        <div class="col-md-7">
          <input
            type="password"
            name="password"
            class="form-control"
            [(ngModel)]="confirmPassword"
          />
        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <button
          class="btn btn-danger btn-sm"
          (click)="modalChangePassword.hide()"
        >
          <i class="fa fa-ban" aria-hidden="true"></i> Cancel
        </button>
        <button class="btn btn-success btn-sm" (click)="changePassword()">
          <i class="fa fa-check" aria-hidden="true"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
  [fullScreen]="true"
>
</ngx-spinner>
