<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Modify</strong>
          RFT
          <button
            type="button"
            class="btn btn-sm btn-primary float-right"
            (click)="backList()"
          >
            <i class="fa fa-chevron-left"></i> Back
          </button>
        </div>
        <form
          class="form-horizontal"
          #addModelForm="ngForm"
          (ngSubmit)="(addModelForm.valid)"
        >
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-2 col-form-label"
                >Model No<span class="red_star"> *</span></label
              >
              <div class="col-md-3">
                <input
                  type="text"
                  name="modelNo"
                  [(ngModel)]="rftCondition.modelNo"
                  disabled
                  class="form-control"
                />
              </div>
              <div class="col-md-1"></div>
              <label class="col-md-2 col-form-label"
                >Model Name<span class="red_star"> *</span></label
              >
              <div class="col-md-3">
                <input
                  type="text"
                  name="modelName"
                  [(ngModel)]="rftCondition.modelName"
                  disabled
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label"
                >Stage<span class="red_star"> *</span></label
              >
              <div class="col-md-3">
                <input
                  type="text"
                  name="stage"
                  [(ngModel)]="rftCondition.stage"
                  disabled
                  class="form-control"
                />
              </div>
              <div class="col-md-1"></div>
              <label class="col-md-2 col-form-label"
                >Upper ID<span class="red_star"> *</span></label
              >
              <div class="col-md-3">
                <input
                  type="text"
                  name="upperID"
                  [(ngModel)]="rftCondition.upperID"
                  disabled
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label"
                >Process Type <span class="red_star"> *</span></label
              >
              <div class="col-md-3">
                <ng-select2
                  width="100%"
                  [data]="processTypeList"
                  [value]="processTypeList"
                  name="process"
                  [disabled]="true"
                  placeholder="Select"
                >
                </ng-select2>
              </div>
              <div class="col-md-1"></div>
              <label class="col-md-2 col-form-label"
                >Operation Name <span class="red_star"> *</span></label
              >
              <div class="col-md-3">
                <ng-select2
                  [data]="operationNameTypeList"
                  [(ngModel)]="rft.operation_id"
                  width="100%"
                  name="operation_name"
                  [disabled]="true"
                  placeholder="Select"
                >
                </ng-select2>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label"
                >Total Produced Qty<span class="red_star"> *</span></label
              >
              <div class="col-md-3">
                <input
                  type="number"
                  [(ngModel)]="rft.total_produced_qty"
                  (input)="countRFTPercent($event.target.value, 'L')"
                  name="total_produced_qty"
                  class="form-control"
                  required
                  min="0"
                  oninput="validity.valid||(value='');"
                />
              </div>
              <div class="col-md-1"></div>
              <label class="col-md-2 col-form-label"
                >Defect Qty<span class="red_star"> *</span></label
              >
              <div class="col-md-3">
                <input
                  type="number"
                  [(ngModel)]="rft.defect_qty"
                  (input)="countRFTPercent($event.target.value, 'R')"
                  name="defect_qty"
                  class="form-control"
                  required
                  min="0"
                  oninput="validity.valid||(value='');"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label"
                >Defect Reason<span class="red_star"> *</span></label
              >
              <div class="col-md-3">
                <ng-select2
                  width="100%"
                  [data]="defectReasonTypeList"
                  [(ngModel)]="rft.defect_reason_id"
                  name="defect_reason_id"
                  placeholder="Select"
                  required
                >
                </ng-select2>
              </div>
              <div class="col-md-1"></div>
              <label class="col-md-2 col-form-label"
                >RFT (%)<span class="red_star"> *</span></label
              >
              <div class="col-md-3">
                <input
                  type="number"
                  name="rft_percent"
                  [value]="rftPercent"
                  disabled
                  class="form-control"
                  required
                />
                <!-- [(ngModel)]="rft.rft_percent" -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label"
                >Defect Pic<span class="red_star"> *</span></label
              >
              <div class="col-md-3">
                <input
                  type="text"
                  [(ngModel)]="rft.defect_pic"
                  name="defect_pic"
                  class="form-control"
                  required
                />
              </div>
              <div class="col-md-1"></div>
              <label class="col-md-2 col-form-label"
                >Inspector<span class="red_star"> *</span></label
              >
              <div class="col-md-3">
                <input
                  type="text"
                  [(ngModel)]="rft.inspector"
                  name="inspector"
                  class="form-control"
                  required
                />
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button
              type="button"
              class="btn btn-sm btn-danger"
              (click)="clearInput()"
            >
              <i class="fa fa-ban"></i> Cancel
            </button>
            <button
              type="button"
              class="btn btn-sm btn-success"
              [disabled]="!addModelForm.valid"
              (click)="save()"
            >
              <i class="fa fa-check"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
