CREATE DATABASE Smart_Tooling_Platform_Test
GO

USE [Smart_Tooling_Platform_Test]
GO
/****** Object:  Table [dbo].[Defect_Reason]    Script Date: 6/18/2021 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Defect_Reason](
	[factory_id] [nvarchar](50) NOT NULL,
	[defect_reason_id] [nvarchar](50) NOT NULL,
	[defect_reason_name] [nvarchar](200) NOT NULL,
	[sequence] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_time] [datetime] NOT NULL,
 CONSTRAINT [PK_Defect_Reason] PRIMARY KEY CLUSTERED 
(
	[factory_id] ASC,
	[defect_reason_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Efficiency]    Script Date: 6/18/2021 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efficiency](
	[factory_id] [nvarchar](50) NOT NULL,
	[upper_id] [nvarchar](10) NOT NULL,
	[season] [nvarchar](4) NOT NULL,
	[month] [int] NOT NULL,
	[efficiency_target] [decimal](18, 2) NULL,
	[efficiency_actual] [decimal](18, 2) NULL,
	[sequence] [int] NOT NULL,
	[create_by] [nvarchar](50) NOT NULL,
	[create_time] [datetime] NOT NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_time] [datetime] NOT NULL,
 CONSTRAINT [PK_Efficiency] PRIMARY KEY CLUSTERED 
(
	[factory_id] ASC,
	[upper_id] ASC,
	[season] ASC,
	[month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factory]    Script Date: 6/18/2021 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factory](
	[factory_id] [nvarchar](50) NOT NULL,
	[factory_name] [nvarchar](50) NOT NULL,
	[customer_name] [nvarchar](50) NOT NULL,
	[location] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Factory] PRIMARY KEY CLUSTERED 
(
	[factory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kaizen]    Script Date: 6/18/2021 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kaizen](
	[factory_id] [nvarchar](50) NOT NULL,
	[model_no] [nvarchar](8) NOT NULL,
	[serial_no] [int] NOT NULL,
	[kaizen_description] [nvarchar](200) NOT NULL,
	[stage_id] [nvarchar](8) NOT NULL,
	[operation_id] [nvarchar](50) NOT NULL,
	[start_date] [date] NOT NULL,
	[kaizen_type_eliminate] [bit] NOT NULL,
	[kaizen_type_reduce] [bit] NOT NULL,
	[kaizen_type_combine] [bit] NOT NULL,
	[kaizen_type_smart_tool] [bit] NOT NULL,
	[process_tct_sec] [numeric](18, 0) NOT NULL,
	[ct_before_sec] [numeric](18, 0) NOT NULL,
	[ct_after_sec] [numeric](18, 0) NOT NULL,
	[rft_before_percent] [numeric](18, 2) NULL,
	[rft_after_percent] [numeric](18, 2) NULL,
	[line_roll_out_percent] [numeric](18, 2) NOT NULL,
	[before_media] [nvarchar](200) NOT NULL,
	[after_media] [nvarchar](200) NOT NULL,
	[before_remarks] [nvarchar](4000) NOT NULL,
	[after_remarks] [nvarchar](4000) NOT NULL,
	[kaizen_from] [nvarchar](50) NOT NULL,
	[clicks_times] [int] NOT NULL,
	[create_by] [nvarchar](50) NOT NULL,
	[create_time] [datetime] NOT NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_time] [datetime] NOT NULL,
 CONSTRAINT [PK_Kaizen] PRIMARY KEY CLUSTERED 
(
	[factory_id] ASC,
	[model_no] ASC,
	[serial_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kaizen_Benefits_Application_Form]    Script Date: 6/18/2021 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kaizen_Benefits_Application_Form](
	[factory_id] [nvarchar](50) NOT NULL,
	[model_no] [nvarchar](8) NOT NULL,
	[serial_no] [int] NOT NULL,
	[to_factory_id] [nvarchar](50) NOT NULL,
	[doc_no] [nvarchar](11) NULL,
	[fill_in_date] [date] NULL,
	[proposed_by_facility] [nvarchar](50) NULL,
	[proposed_by_dept] [nchar](10) NULL,
	[proposed_by_name_id] [nvarchar](200) NULL,
	[team_member] [nvarchar](4000) NULL,
	[benefits_category_hse] [bit] NULL,
	[benefits_category_delivery] [bit] NULL,
	[benefits_category_quality] [bit] NULL,
	[benefits_category_efficiency] [bit] NULL,
	[benefits_category_others] [bit] NULL,
	[estimated_savings_per_month] [numeric](18, 2) NULL,
	[estimated_roi] [numeric](18, 2) NULL,
	[create_by] [nvarchar](50) NOT NULL,
	[create_time] [datetime] NOT NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_time] [datetime] NOT NULL,
 CONSTRAINT [PK_Kaizen_Benefits_Application_Form] PRIMARY KEY CLUSTERED 
(
	[factory_id] ASC,
	[model_no] ASC,
	[serial_no] ASC,
	[to_factory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Measurement_RFT]    Script Date: 6/18/2021 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Measurement_RFT](
	[factory_id] [nvarchar](50) NOT NULL,
	[model_no] [nvarchar](8) NOT NULL,
	[stage_id] [nvarchar](8) NOT NULL,
	[operation_id] [nvarchar](50) NOT NULL,
	[total_produced_qty] [int] NOT NULL,
	[defect_qty] [int] NOT NULL,
	[defect_reason_id] [nvarchar](50) NOT NULL,
	[rft_percent] [numeric](18, 2) NOT NULL,
	[defect_pic] [nvarchar](100) NOT NULL,
	[inspector] [nvarchar](100) NOT NULL,
	[create_by] [nvarchar](50) NOT NULL,
	[create_time] [datetime] NOT NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_time] [datetime] NOT NULL,
 CONSTRAINT [PK_Measurement_RFT] PRIMARY KEY CLUSTERED 
(
	[factory_id] ASC,
	[model_no] ASC,
	[stage_id] ASC,
	[operation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model]    Script Date: 6/18/2021 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[factory_id] [nvarchar](50) NOT NULL,
	[model_no] [nvarchar](8) NOT NULL,
	[model_name] [nvarchar](200) NOT NULL,
	[model_type_id] [nvarchar](5) NOT NULL,
	[model_family] [nvarchar](50) NULL,
	[upper_id] [nvarchar](10) NOT NULL,
	[dev_season] [nvarchar](4) NOT NULL,
	[prod_season] [nvarchar](4) NOT NULL,
	[volume] [numeric](18, 0) NULL,
	[volume_percent] [numeric](18, 2) NULL,
	[remarks] [nvarchar](4000) NULL,
	[model_picture] [nvarchar](200) NOT NULL,
	[is_active] [bit] NOT NULL,
	[create_by] [nvarchar](50) NOT NULL,
	[create_time] [datetime] NOT NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_time] [datetime] NOT NULL,
 CONSTRAINT [PK_Model] PRIMARY KEY CLUSTERED 
(
	[factory_id] ASC,
	[model_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model_Operation]    Script Date: 6/18/2021 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model_Operation](
	[factory_id] [nvarchar](50) NOT NULL,
	[model_no] [nvarchar](8) NOT NULL,
	[stage_id] [nvarchar](8) NOT NULL,
	[operation_id] [nvarchar](50) NOT NULL,
	[process_type_id] [nvarchar](20) NOT NULL,
	[operation_name_local] [nvarchar](200) NOT NULL,
	[operation_name_en] [nvarchar](200) NOT NULL,
	[operation_name_zh] [nvarchar](200) NOT NULL,
	[sop_no] [nvarchar](50) NULL,
	[critical_quality] [bit] NOT NULL,
	[critical_efficiency] [bit] NOT NULL,
	[sequence] [int] NOT NULL,
	[create_by] [nvarchar](50) NOT NULL,
	[create_time] [datetime] NOT NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_time] [datetime] NOT NULL,
 CONSTRAINT [PK_Model_Process] PRIMARY KEY CLUSTERED 
(
	[factory_id] ASC,
	[model_no] ASC,
	[stage_id] ASC,
	[operation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model_Type]    Script Date: 6/18/2021 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model_Type](
	[factory_id] [nvarchar](50) NOT NULL,
	[model_type_id] [nvarchar](5) NOT NULL,
	[model_type_name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_Model_Type] PRIMARY KEY CLUSTERED 
(
	[factory_id] ASC,
	[model_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Process_Type]    Script Date: 6/18/2021 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Process_Type](
	[factory_id] [nvarchar](50) NOT NULL,
	[process_type_id] [nvarchar](20) NOT NULL,
	[process_type_name_local] [nvarchar](100) NOT NULL,
	[process_type_name_en] [nvarchar](100) NOT NULL,
	[process_type_name_zh] [nvarchar](100) NOT NULL,
	[sequence] [int] NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_Process_Type] PRIMARY KEY CLUSTERED 
(
	[factory_id] ASC,
	[process_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/18/2021 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_unique] [nvarchar](50) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[role_type] [nvarchar](50) NOT NULL,
	[role_note] [nvarchar](250) NOT NULL,
	[role_sequence] [float] NOT NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_time] [datetime] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[role_unique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleUser]    Script Date: 6/18/2021 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleUser](
	[user_account] [nvarchar](50) NOT NULL,
	[role_unique] [nvarchar](50) NOT NULL,
	[create_by] [nvarchar](50) NOT NULL,
	[create_time] [datetime] NOT NULL,
 CONSTRAINT [PK_RoleUser_1] PRIMARY KEY CLUSTERED 
(
	[user_account] ASC,
	[role_unique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stage]    Script Date: 6/18/2021 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stage](
	[factory_id] [nvarchar](50) NOT NULL,
	[stage_id] [nvarchar](8) NOT NULL,
	[stage_name] [nvarchar](100) NOT NULL,
	[sequence] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_Stage] PRIMARY KEY CLUSTERED 
(
	[factory_id] ASC,
	[stage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/18/2021 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[account] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[is_active] [bit] NOT NULL,
	[update_by] [nvarchar](50) NOT NULL,
	[update_time] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Defect_Reason] ([factory_id], [defect_reason_id], [defect_reason_name], [sequence], [is_active], [update_by], [update_time]) VALUES (N'SHC', N'c13', N'needle holes', 1, 1, N'SHB_ME', CAST(N'2020-12-01T09:23:45.980' AS DateTime))
INSERT [dbo].[Defect_Reason] ([factory_id], [defect_reason_id], [defect_reason_name], [sequence], [is_active], [update_by], [update_time]) VALUES (N'SHC', N'Q26', N'Bonding gap', 0, 1, N'90611', CAST(N'2021-05-24T16:14:39.997' AS DateTime))
INSERT [dbo].[Defect_Reason] ([factory_id], [defect_reason_id], [defect_reason_name], [sequence], [is_active], [update_by], [update_time]) VALUES (N'SHC', N'Q53', N'Different/inconsistent color', 1, 1, N'QMS', CAST(N'2020-12-15T11:15:28.563' AS DateTime))
GO
INSERT [dbo].[Efficiency] ([factory_id], [upper_id], [season], [month], [efficiency_target], [efficiency_actual], [sequence], [create_by], [create_time], [update_by], [update_time]) VALUES (N'SHC', N'05345', N'FW21', 3, NULL, NULL, 7, N'SHB_ME', CAST(N'2020-12-15T12:49:57.447' AS DateTime), N'90611', CAST(N'2021-05-24T16:11:30.997' AS DateTime))
INSERT [dbo].[Efficiency] ([factory_id], [upper_id], [season], [month], [efficiency_target], [efficiency_actual], [sequence], [create_by], [create_time], [update_by], [update_time]) VALUES (N'SHC', N'05345', N'FW21', 4, NULL, NULL, 8, N'SHB_ME', CAST(N'2020-12-15T12:49:57.447' AS DateTime), N'90611', CAST(N'2021-05-24T16:11:30.997' AS DateTime))
INSERT [dbo].[Efficiency] ([factory_id], [upper_id], [season], [month], [efficiency_target], [efficiency_actual], [sequence], [create_by], [create_time], [update_by], [update_time]) VALUES (N'SHC', N'05345', N'FW21', 5, NULL, NULL, 9, N'SHB_ME', CAST(N'2020-12-15T12:49:57.447' AS DateTime), N'90611', CAST(N'2021-05-24T16:11:30.997' AS DateTime))
GO
INSERT [dbo].[Factory] ([factory_id], [factory_name], [customer_name], [location]) VALUES (N'CB', N'CB', N'SHD', N'Vietnam')
INSERT [dbo].[Factory] ([factory_id], [factory_name], [customer_name], [location]) VALUES (N'SHC', N'SHC', N'SHW', N'Vietnam')
INSERT [dbo].[Factory] ([factory_id], [factory_name], [customer_name], [location]) VALUES (N'SPC', N'SPC', N'SHB', N'Myanmar')
GO
INSERT [dbo].[Model] ([factory_id], [model_no], [model_name], [model_type_id], [model_family], [upper_id], [dev_season], [prod_season], [volume], [volume_percent], [remarks], [model_picture], [is_active], [create_by], [create_time], [update_by], [update_time]) VALUES (N'SHC', N'1', N'1', N'CO', N'1', N'1', N'1', N'1', CAST(1 AS Numeric(18, 0)), CAST(1.00 AS Numeric(18, 2)), N'', N'SHC/Model/no-image.jpg', 1, N'Admin', CAST(N'2021-05-20T16:53:51.660' AS DateTime), N'Admin', CAST(N'2021-05-20T16:53:51.657' AS DateTime))
INSERT [dbo].[Model] ([factory_id], [model_no], [model_name], [model_type_id], [model_family], [upper_id], [dev_season], [prod_season], [volume], [volume_percent], [remarks], [model_picture], [is_active], [create_by], [create_time], [update_by], [update_time]) VALUES (N'SHC', N'123', N'1', N'CO', N'1', N'1', N'1', N'1', CAST(3 AS Numeric(18, 0)), CAST(1.00 AS Numeric(18, 2)), N'', N'SHC/Model/no-image.jpg', 0, N'Admin', CAST(N'2021-05-20T16:55:06.620' AS DateTime), N'Admin', CAST(N'2021-05-20T16:55:06.617' AS DateTime))
INSERT [dbo].[Model] ([factory_id], [model_no], [model_name], [model_type_id], [model_family], [upper_id], [dev_season], [prod_season], [volume], [volume_percent], [remarks], [model_picture], [is_active], [create_by], [create_time], [update_by], [update_time]) VALUES (N'SHC', N'BER58', N'GAZELLE', N'CO', N'GAZELLE', N'41222', N'SS17', N'SS21', CAST(104489 AS Numeric(18, 0)), CAST(26.70 AS Numeric(18, 2)), N'Art:
- BB2502
- BB2503
- BY9144', N'SHC/Model/SHC_BER58.jpg', 1, N'SHI_ME', CAST(N'2020-12-03T08:40:43.827' AS DateTime), N'SHI_ME', CAST(N'2021-01-08T10:24:51.723' AS DateTime))
GO
INSERT [dbo].[Model_Operation] ([factory_id], [model_no], [stage_id], [operation_id], [process_type_id], [operation_name_local], [operation_name_en], [operation_name_zh], [sop_no], [critical_quality], [critical_efficiency], [sequence], [create_by], [create_time], [update_by], [update_time]) VALUES (N'SHC', N'1', N'CR2', N'2', N'C2B', N'2', N'2', N'2', NULL, 0, 0, 0, N'Admin', CAST(N'2021-05-21T10:37:59.573' AS DateTime), N'Admin', CAST(N'2021-05-21T10:37:59.573' AS DateTime))
INSERT [dbo].[Model_Operation] ([factory_id], [model_no], [stage_id], [operation_id], [process_type_id], [operation_name_local], [operation_name_en], [operation_name_zh], [sop_no], [critical_quality], [critical_efficiency], [sequence], [create_by], [create_time], [update_by], [update_time]) VALUES (N'SHC', N'BER58', N'CS1', N'11', N'Cutting', N'1', N'1', N'1', NULL, 0, 0, 0, N'Admin', CAST(N'2021-05-21T10:33:13.347' AS DateTime), N'Admin', CAST(N'2021-05-21T10:33:13.313' AS DateTime))
INSERT [dbo].[Model_Operation] ([factory_id], [model_no], [stage_id], [operation_id], [process_type_id], [operation_name_local], [operation_name_en], [operation_name_zh], [sop_no], [critical_quality], [critical_efficiency], [sequence], [create_by], [create_time], [update_by], [update_time]) VALUES (N'SHC', N'BER58', N'MP1', N'PR01', N'C2B', N'ATTACH EYESTAY REINFORCEMENT', N'ATTACH EYESTAY REINFORCEMENT', N'ATTACH EYESTAY REINFORCEMENT', NULL, 0, 0, 0, N'SHI_ME', CAST(N'2020-12-04T10:54:05.333' AS DateTime), N'Admin', CAST(N'2021-05-21T12:18:38.977' AS DateTime))
GO
INSERT [dbo].[Model_Type] ([factory_id], [model_type_id], [model_type_name], [is_active]) VALUES (N'SHC', N'CO', N'CO', 1)
INSERT [dbo].[Model_Type] ([factory_id], [model_type_id], [model_type_name], [is_active]) VALUES (N'SHC', N'NM', N'NM', 1)
INSERT [dbo].[Model_Type] ([factory_id], [model_type_id], [model_type_name], [is_active]) VALUES (N'SHC', N'NS', N'NS', 1)
GO
INSERT [dbo].[Process_Type] ([factory_id], [process_type_id], [process_type_name_local], [process_type_name_en], [process_type_name_zh], [sequence], [is_active]) VALUES (N'SHC', N'A1', N'Assembly', N'Assembly', N'成型', 21, 0)
INSERT [dbo].[Process_Type] ([factory_id], [process_type_id], [process_type_name_local], [process_type_name_en], [process_type_name_zh], [sequence], [is_active]) VALUES (N'SHC', N'Assembly', N'Assembly', N'Assembly', N'成型', 4, 1)
INSERT [dbo].[Process_Type] ([factory_id], [process_type_id], [process_type_name_local], [process_type_name_en], [process_type_name_zh], [sequence], [is_active]) VALUES (N'SHC', N'C1', N'In-Line Cutting', N'In-Line Cutting', N'線內裁斷', 8, 0)
GO
INSERT [dbo].[Roles] ([role_unique], [role_name], [role_type], [role_note], [role_sequence], [update_by], [update_time]) VALUES (N'ksmt.CrossSiteSharingApplication', N'4.5 Cross Site Sharing Application', N'ksmt', N'GME in use', 405, N'90611', CAST(N'2021-02-19T10:50:00.000' AS DateTime))
INSERT [dbo].[Roles] ([role_unique], [role_name], [role_type], [role_note], [role_sequence], [update_by], [update_time]) VALUES (N'ksmt.DefectReason', N'1.1 Defect Reason', N'ksmt', N'GQ in use', 101, N'90611', CAST(N'2020-09-10T08:30:00.000' AS DateTime))
INSERT [dbo].[Roles] ([role_unique], [role_name], [role_type], [role_note], [role_sequence], [update_by], [update_time]) VALUES (N'ksmt.GroupKaizenReport', N'4.2 Group Kaizen Report', N'ksmt', N'GME in use', 402, N'90611', CAST(N'2020-09-10T08:30:00.000' AS DateTime))
GO
INSERT [dbo].[RoleUser] ([user_account], [role_unique], [create_by], [create_time]) VALUES (N'64821', N'ksmt.GroupKaizenReport', N'Admin', CAST(N'2021-06-14T08:13:21.490' AS DateTime))
INSERT [dbo].[RoleUser] ([user_account], [role_unique], [create_by], [create_time]) VALUES (N'64821', N'ksmt.KaizenRFT', N'Admin', CAST(N'2021-06-14T08:13:21.490' AS DateTime))
INSERT [dbo].[RoleUser] ([user_account], [role_unique], [create_by], [create_time]) VALUES (N'64821', N'ksmt.Model', N'Admin', CAST(N'2021-06-14T08:13:21.490' AS DateTime))
GO
INSERT [dbo].[Stage] ([factory_id], [stage_id], [stage_name], [sequence], [is_active]) VALUES (N'SHC', N'CR2', N'CR2', 1, 1)
INSERT [dbo].[Stage] ([factory_id], [stage_id], [stage_name], [sequence], [is_active]) VALUES (N'SHC', N'CS1', N'CS1', 3, 1)
INSERT [dbo].[Stage] ([factory_id], [stage_id], [stage_name], [sequence], [is_active]) VALUES (N'SHC', N'CS2', N'CS2', 4, 1)
GO
INSERT [dbo].[Users] ([account], [password], [name], [email], [is_active], [update_by], [update_time]) VALUES (N'64821', N'', N'', N'', 1, N'Admin', CAST(N'2021-06-14T08:36:07.287' AS DateTime))
INSERT [dbo].[Users] ([account], [password], [name], [email], [is_active], [update_by], [update_time]) VALUES (N'64887', N'123', N'1234', N'12324', 1, N'90553', CAST(N'2021-06-02T10:06:47.310' AS DateTime))
INSERT [dbo].[Users] ([account], [password], [name], [email], [is_active], [update_by], [update_time]) VALUES (N'90553', N'1234', N'Vincent Hsieh', N'vincent.hsieh@shc.ssbshoes.com', 1, N'90553', CAST(N'2020-10-28T09:46:27.817' AS DateTime))
GO
