<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <label class="col-md-2 col-form-label" for="account">
                <strong class="float-right">User Account</strong>
              </label>
              <div class="col-md-2">
                <input type="text" name="account" class="form-control" placeholder="User account ..."
                [(ngModel)]="account"   autocomplete="new-account"/>
              </div>
              <label class="col-md-1 col-form-label" for="active">
                <strong class="float-right">Active</strong></label>
              <div class="col-md-2">
                <select class="form-control" name="active"
                [(ngModel)]="isActive" >
                  <option value="all">All</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
              <div class="col-md-5">
                <button type="button"
                  class="btn btn-primary button-width" (click)="search()"
                  >
                  <i class="fa fa-search"></i>
                  Search
                </button>
                <button type="button" class="btn btn-secondary button-width"  (click)="clear()">
                  <i class="fa fa-ban"></i>
                  Clear
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-12">
                <button class="btn btn-success btn-sm"
                   (click)="modalAddUser.show()" (click)="resetUser()">
                  <i class="fa fa-plus" aria-hidden="true"></i> Add User
                </button>
              </div>
            </div>
            <table class="table table-bordered text-center">
              <thead>
                <tr>
                  <th>User Account</th>
                  <th>User Name</th>
                  <th>E-mail Address</th>
                  <th>Authorize</th>
                  <th colspan="2">Modify</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users" >
                  <td>{{user.account}}</td>
                  <td>{{user.name}}</td>
                  <td>{{user.email}}</td>
                  <td>
                    <button class="btn btn-warning btn-sm" (click)="openModalAuthorization(user.account)" >
                      <i class="fa fa-key" aria-hidden="true"></i>
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-primary btn-sm"
                    (click)="openModalEditUser(user)" (click)="setUser(user)">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-danger btn-sm"
                    (click)="delete(user.account)" >
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
                <tr >
                  <td colspan="10">
                    <div class="alert-table alert alert-warning" *ngIf="users.length == 0"> 
                      No data found !
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex" *ngIf="pagination.totalPages > 1" >
                <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage" previousText="&lsaquo;" (pageChanged)="pageChanged($event)"
                nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="5">
              </pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div bsModal #modalAddUser="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title pull-left">Add User</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddUser.hide()" >
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <form class="form-horizontal"  #addUserForm="ngForm">
                <div class="row mb-2">
                <label class="col-md-3 col-form-label" for="account">
                    <strong class="float-right">User Account<span class="red_star">  *</span></strong>
                </label>
                <div class="col-md-8">
                    <input type="text" name="account" class="form-control" required [(ngModel)]="addUser.account"/>
                </div>
                </div>
                <div class="row mb-2">
                <label class="col-md-3 col-form-label" for="password">
                    <strong class="float-right">Password<span class="red_star">  *</span></strong>
                </label>
                <div class="col-md-8">
                    <input type="password" name="password" class="form-control" [(ngModel)]="addUser.password" required/>
                </div>
                </div>
                <div class="row mb-2">
                <label class="col-md-3 col-form-label" for="username">
                    <strong class="float-right">User Name<span class="red_star">  *</span></strong>
                </label>
                <div class="col-md-8">
                    <input type="text"
                    name="username"
                    class="form-control"
                    [(ngModel)]="addUser.name"    required/>
                </div>
                </div>
                <div class="row mb-2">
                <label class="col-md-3 col-form-label" for="email">
                    <strong class="float-right">Email<span class="red_star">  *</span></strong>
                </label>
                <div class="col-md-8">
                    <input type="text"
                    class="form-control"
                    name="emailAdd" required [(ngModel)]="addUser.email"/>
                </div>
                </div>
                <div class="row mb-2">
                <label class="col-md-3 col-form-label" for="active">
                    <strong class="float-right">Active</strong>
                </label>
                <div class="col-md-8 pt-1">
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox"
                        class="custom-control-input"
                        id="active" name="active" [(ngModel)]="addUser.is_active">
                    <label class="custom-control-label" for="active"></label>
                    </div>
                </div>
                </div>
                <div class="form-group">
                  <div class="avatar-upload">
                    <div class="avatar-edit">
                      <input type='file' id="imageUpload" accept="image/*" #fileInput
                        (change)="uploadFile($event)" />
                    </div>
                    <div class="avatar-preview">
                      <div id="imagePreview" [style.backgroundImage]="'url('+ imageUser +')'"></div>
                    </div>
                  </div>
                  <div class="d-flex" style="justify-content: center;">
                    <button type="button" class="btn btn-success mr-2" (click)="fileInput.click()">Upload Image</button>
                    <button type="button" class="btn btn-danger" (click)="removeUploadedFile()">Remove Image</button>
                  </div>
                </div>
            </form>
    
            </div>
            <div class="modal-footer justify-content-start">
            <button class="btn btn-danger btn-sm"
            (click)="modalAddUser.hide()" >
                <i class="fa fa-ban" aria-hidden="true"></i> Cancel
            </button>
            <button class="btn btn-success btn-sm" (click)="adduser()" (click)="modalAddUser.hide()" [disabled]="!addUserForm.valid" >
                <i class="fa fa-check" aria-hidden="true"></i> Save
            </button>
            </div>
        </div>
        </div>
  </div>

  <!-- edit user -->
  <div bsModal #modalEditUser="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title pull-left">Edit User</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalEditUser.hide()" >
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
      
            <div class="row mb-2">
            <label class="col-md-3 col-form-label" for="account">
                <strong class="float-right">User Account<span class="red_star">  *</span></strong>
            </label>
            <div class="col-md-8">
                <input type="text" name="accountedit" class="form-control" required [(ngModel)]="editUser.account" disabled/>
            </div>
            </div>
            <div class="row mb-2">
            <label class="col-md-3 col-form-label" for="password">
                <strong class="float-right">Password<span class="red_star">  *</span></strong>
            </label>
            <div class="col-md-8">
                <input type="password" name="passwordedit" class="form-control" [(ngModel)]="editUser.password" required/>
            </div>
            </div>
            <div class="row mb-2">
            <label class="col-md-3 col-form-label" for="username">
                <strong class="float-right">User Name<span class="red_star">  *</span></strong>
            </label>
            <div class="col-md-8">
                <input type="text"
                name="username"
                class="form-control"
                [(ngModel)]="editUser.name"    required/>
            </div>
            </div>
            <div class="row mb-2">
            <label class="col-md-3 col-form-label" for="email">
                <strong class="float-right">Email<span class="red_star">  *</span></strong>
            </label>
            <div class="col-md-8">
                <input type="text"
                class="form-control"
                name="emaileidt" required [(ngModel)]="editUser.email"/>
            </div>
            </div>
            <div class="row mb-2">
            <label class="col-md-3 col-form-label" for="active">
                <strong class="float-right">Active</strong>
            </label>
            <div class="col-md-8 pt-1">
            <div class="custom-control custom-checkbox">
              <input type="checkbox"
                class="custom-control-input"
                id="editActive"
                [(ngModel)]="editUser.is_active">
              <label class="custom-control-label" for="editActive"></label>
            </div>
          </div>
            </div>
            <div class="form-group">
              <div class="avatar-upload">
                <div class="avatar-edit">
                  <input type='file' id="imageUpload" accept="image/*" #fileInput
                    (change)="uploadFile($event)" />
                </div>
                <div class="avatar-preview">
                  <div id="imagePreview" [style.backgroundImage]="'url('+ imageUser +')'"></div>
                </div>
              </div>
              <div class="d-flex" style="justify-content: center;">
                <button type="button" class="btn btn-success mr-2" (click)="fileInput.click()">Upload Image</button>
                <button type="button" class="btn btn-danger" (click)="removeUploadedFile()">Remove Image</button>
              </div>
            </div>
        </div>
        <div class="modal-footer justify-content-start">
        <button class="btn btn-danger btn-sm"
        (click)="modalEditUser.hide()" >
            <i class="fa fa-ban" aria-hidden="true"></i> Cancel
        </button>
        <button class="btn btn-success btn-sm" (click)="saveEditUser()" (click)="modalEditUser.hide()">
            <i class="fa fa-check" aria-hidden="true"></i> Save
        </button>
        </div>
    </div>
    </div>
</div>


<div bsModal #authorizationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Authorization</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="authorizationModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <label class="col-md-2 col-form-label" for="account">
            <strong class="float-right">User Account</strong>
          </label>
          <div class="col-md-4">
            <input type="text" name="account" class="form-control" disabled [ngModel]="userAuthorizationAccount" />
          </div>
          <label class="col-md-2 col-form-label" for="username">
            <strong class="float-right">User Name</strong>
          </label>
          <div class="col-md-4">
            <input type="text" name="username" class="form-control" disabled  [ngModel]="userAuthorizationName" />
          </div>
        </div>
        <div class="row mb-2 mt-3" *ngFor="let item of listRoleByUser">
          <div class="col-md-2 offset-md-3">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" name="role" class="custom-control-input" id="{{item.role_name}}" [(ngModel)]="item.status">
              <label class="custom-control-label" for="{{item.role_name}}"></label>
            </div>
          </div>
          <div class="col-md-4">
            <label for="{{item.role_name}}">{{item.role_name}}</label>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <button class="btn btn-danger btn-sm" (click)="authorizationModal.hide()">
          <i class="fa fa-ban" aria-hidden="true"></i> Cancel
        </button>
        <button class="btn btn-success btn-sm"
        (click)="saveAuthorization()" >
          <i class="fa fa-check" aria-hidden="true"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>