// .modal-dialog {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     overflow-y: auto;
//     min-height: calc(100vh - 60px);
//   }
//   @media (max-width: 767px) {
//     .modal-dialog {
//       min-height: calc(100vh - 20px);
//     }
//   }
.alert-table {
    background-color: #ffc241;
    border-color: #ffbd31;
    text-align: center;
    text-transform: uppercase;
    color: #343a40;
    font-weight: 700;
    margin-bottom: 0;
}