.alert-table {
    background-color: #ffc241;
    border-color: #ffbd31;
    text-align: center;
    text-transform: uppercase;
    color: #343a40;
    font-weight: 700;
    margin-bottom: 0;
}
.red_star{
    font-weight: 600;
    font-size: 1.2rem;
    color: red;
}