<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <label class="col-md-2 col-form-label" for="account">
              <strong class="float-right">User Account</strong>
            </label>
            <div class="col-md-2">
              <input type="text" name="account" class="form-control" placeholder="User account ..."
                [(ngModel)]="account" autocomplete="new-account"/>
            </div>
            <label class="col-md-1 col-form-label" for="active">
              <strong class="float-right">Active</strong></label>
            <div class="col-md-2">
              <select class="form-control" name="active"
                [(ngModel)]="isActive">
                <option value="all">All</option>
                <option value="1">Y</option>
                <option value="0">N</option>
              </select>
            </div>
            <div class="col-md-5">
              <button type="button"
                class="btn btn-primary button-width"
                (click)="search()">
                <i class="fa fa-search"></i>
                Search
              </button>
              <button type="button" class="btn btn-secondary button-width">
                <i class="fa fa-ban"></i>
                Clear
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-12">
              <button class="btn btn-success btn-sm"
                (click)="modalAddUser.show()">
                <i class="fa fa-plus" aria-hidden="true"></i> Add User
              </button>
            </div>
          </div>
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th>User Account</th>
                <th>User Name</th>
                <th>E-mail Address</th>
                <th>Authorize</th>
                <th>Modify</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of users">
                <td>{{item.account}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>
                  <button class="btn btn-warning btn-sm"
                    (click)="openModalAuthorization(item.account, item.name)">
                    <i class="fa fa-key" aria-hidden="true"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-primary btn-sm"
                    (click)="openModalEditUser(item)">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              <tr *ngIf="users.length == 0">
                <td colspan="10">
                  <div class="alert-table alert alert-warning">
                    No data found !
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex" *ngIf="pagination.totalPages > 1">
            <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage" previousText="&lsaquo;" (pageChanged)="pageChanged($event)"
              nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="5">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalAddUser="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add User</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddUser.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" #addUserForm="ngForm">
          <div class="row mb-2">
            <label class="col-md-3 col-form-label" for="account">
              <strong class="float-right">User Account<span class="red_star">  *</span></strong>
            </label>
            <div class="col-md-8">
              <input type="text"
                name="account"
                class="form-control"
                [(ngModel)]="addUser.account" required/>
            </div>
          </div>
          <div class="row mb-2">
            <label class="col-md-3 col-form-label" for="password">
              <strong class="float-right">Password<span class="red_star">  *</span></strong>
            </label>
            <div class="col-md-8">
              <input type="password"
                name="password"
                class="form-control"
                [(ngModel)]="addUser.password" required/>
            </div>
          </div>
          <div class="row mb-2">
            <label class="col-md-3 col-form-label" for="username">
              <strong class="float-right">User Name<span class="red_star">  *</span></strong>
            </label>
            <div class="col-md-8">
              <input type="text"
                name="username"
                class="form-control"
                [(ngModel)]="addUser.name"  required/>
            </div>
          </div>
          <div class="row mb-2">
            <label class="col-md-3 col-form-label" for="email">
              <strong class="float-right">Email<span class="red_star">  *</span></strong>
            </label>
            <div class="col-md-8">
              <input type="text"
                class="form-control"
                [(ngModel)]="addUser.email" name="emailAdd" required/>
            </div>
          </div>
          <div class="row mb-2">
            <label class="col-md-3 col-form-label" for="active">
              <strong class="float-right">Active</strong>
            </label>
            <div class="col-md-8 pt-1">
              <div class="custom-control custom-checkbox">
                <input type="checkbox"
                  class="custom-control-input"
                  id="active"
                  [(ngModel)]="addUser.is_active">
                <label class="custom-control-label" for="active"></label>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer justify-content-start">
        <button class="btn btn-danger btn-sm"
          (click)="modalAddUser.hide()">
          <i class="fa fa-ban" aria-hidden="true"></i> Cancel
        </button>
        <button class="btn btn-success btn-sm"
          (click)="saveAddUser()" [disabled]="!addUserForm.valid">
          <i class="fa fa-check" aria-hidden="true"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalEditUser="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modify User</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalEditUser.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <label class="col-md-3 col-form-label" for="account">
            <strong class="float-right">User Account <span class="red_star">  *</span></strong>
          </label>
          <div class="col-md-8">
            <input type="text"
              name="account"
              class="form-control"
              [(ngModel)]="editUser.account"
              disabled />
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-md-3 col-form-label" for="password">
            <strong class="float-right">Password <span class="red_star">  *</span></strong>
          </label>
          <div class="col-md-8">
            <input type="password"
              name="password"
              class="form-control"
              [(ngModel)]="editUser.password" />
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-md-3 col-form-label" for="username">
            <strong class="float-right">User Name <span class="red_star">  *</span></strong>
          </label>
          <div class="col-md-8">
            <input type="text"
              name="username"
              class="form-control"
              [(ngModel)]="editUser.name"  />
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-md-3 col-form-label" for="email">
            <strong class="float-right">Email <span class="red_star">  *</span></strong>
          </label>
          <div class="col-md-8">
            <input type="text"
              class="form-control"
              [(ngModel)]="editUser.email"  name="emailEdit"/>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-md-3 col-form-label" for="active">
            <label for="editActive"><strong class="float-right">Active</strong></label>
          </label>
          <div class="col-md-8 pt-1">
            <div class="custom-control custom-checkbox">
              <input type="checkbox"
                class="custom-control-input"
                id="editActive"
                [(ngModel)]="editUser.is_active">
              <label class="custom-control-label" for="editActive"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <button class="btn btn-danger btn-sm"
          (click)="modalEditUser.hide()">
          <i class="fa fa-ban" aria-hidden="true"></i> Cancel
        </button>
        <button class="btn btn-success btn-sm"
          (click)="saveEditUser()">
          <i class="fa fa-check" aria-hidden="true"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #authorizationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Authorization</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="authorizationModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <label class="col-md-2 col-form-label" for="account">
            <strong class="float-right">User Account</strong>
          </label>
          <div class="col-md-4">
            <input type="text" name="account" class="form-control" disabled [ngModel]="userAuthorizationAccount" />
          </div>
          <label class="col-md-2 col-form-label" for="username">
            <strong class="float-right">User Name</strong>
          </label>
          <div class="col-md-4">
            <input type="text" name="username" class="form-control" disabled  [ngModel]="userAuthorizationName" />
          </div>
        </div>
        <div class="row mb-2 mt-3" *ngFor="let item of listRoleByUser">
          <div class="col-md-2 offset-md-3">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="{{item.role_name}}" [(ngModel)]="item.status">
              <label class="custom-control-label" for="{{item.role_name}}"></label>
            </div>
          </div>
          <div class="col-md-4">
            <label for="{{item.role_name}}">{{item.role_name}}</label>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <button class="btn btn-danger btn-sm" (click)="authorizationModal.hide()">
          <i class="fa fa-ban" aria-hidden="true"></i> Cancel
        </button>
        <button class="btn btn-success btn-sm"
          (click)="saveAuthorizationUser()">
          <i class="fa fa-check" aria-hidden="true"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
</ngx-spinner>
