
.alert-table {
    background-color: #ffc241;
    border-color: #ffbd31;
    text-align: center;
    text-transform: uppercase;
    color: #343a40;
    font-weight: 700;
    margin-bottom: 0;
}

thead {
    background-color: #20a8d8;
    color: #fff;
}