// Here you can add other styles
.mr-30 {
    margin-right: 30px !important;
}

thead {
    background-color: #20a8d8;
    color: #fff;
}

.navbar {
    background-color: #2f353a;
}

.vertical-middle {
    vertical-align: middle !important;
}
.menu-margin a {
    padding-left: 40px !important;
}

// sửa lại màu menu lúc active
.sidebar .nav-link.active {
    color: #fff;
    background: #20a8d8;
}

.sidebar .nav-link.active .nav-icon {
    color: #fff;
}

.input-upper {
    text-transform: uppercase;
}

.red_star {
    font-weight: 600;
    font-size: 1.2rem;
    color: red;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: textfield;
}
