.content1 {
    height: 300px;
    border: 2px solid #1985ac;
}
.header-style {
    background-color: #ffc000;
}
.font-title {
    font-size: 22px;
}
.img-first {
    width: 200px; 
    height: 100px;
}
.background-frame-small {
    background: #e0dcd5;
}

.block-one {
    font-size: 13px;
    font-weight: 500;
    margin-top: 2px;
    display: flex;
}
.block-one-1 {
    width: 57%;
}
.block-one-2 {
    width: 43%;
    list-style: none;
}
.content-block-2 {
    list-style: none;
}
.season-select {
    width: 150px;
}
.button-back {
    color: white;
    background: #828e98;
}
.button-back:hover {
    background: #707c86;
    color: white;
}
.tdColor {
    background-color: #20a8d8;
    color: white;
}
.chart-style {
    width: 100%; 
    height: 240px; 
    display: block;
}

.title-frame-small {
    background: #20a8d8;
    color: white;
}
.txt-modelname {
    text-align: center;
    font-weight: 600;
}
.tdColor2 {
    background-color: #c8ced3;
}
.border-td {
    border: 1px solid white;
}
.center-content {
    vertical-align: middle;
    text-align: center;
}
.td-background {
    background-color: #92d050;
}
.tct-style {
    width: 250px;
}
.line-click {
    width: 70px;
}
.tr-font-bold {
    font-weight: 600;
}


.remark-block {
    overflow: scroll;
}
.remark-title {
    margin-left: 2px;
}

.remark-text {
    text-align: center;
    font-weight: 600;
}
.remark-content {
    margin-left: 2px;
    font-weight: 600;
    font-size: 15px;
}

.frame-chart {
    display: flex;
    float: right;
    margin-top: 3px;
}
.txt-season {
    margin-top: 10px;
    margin-right: 15px;
    font-weight: 500;
}

.div-image {
    text-align: center;
    margin-top: 2px;
}
.button-kaizen-detail {
    margin-left: 2rem;
}